<h2> My contacts </h2>

<ul>
  <% @contacts.each do |contact| %>
  <li>
    <%= contact.name%> <a href="contacts/<%=contact.id%>/edit">edit</a> <a href="contacts/<%=contact.id%>/delete">delete</a> <a href="contacts/<%=contact.id%>/display">display</a>
    <a href="contacts/<%=contact.id%>/add">add</a>
  </li>

  <% end %>
</ul>

<br>
<h3><a href="/contacts/new">Add new contact</a></h3>

<br>
<h3><a href="/contacts/search">Search contacts by name</a></h3>
